.body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 110px 0px 100px 0px;
    width: 100%;
}

.Tigran_img {
    height: 550px;
    margin-left: 18.5%;
    display: flex;
}

.whatIDo {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.header {
    font-size: 39px;
    display: flex;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 29px;
}

.about_me {
    display: flex;
    font-size: 23.5px;
    color: #868E96;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    width: 750px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
}

.mySkills {
    margin-top: 50px;
    width: 700px;
}

.mySkills span {
    display: flex;
    font-size: 23px;
    margin-top: 20px;
    color: #868E96;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 375.8px) {
    .body {
        width: 375px;
        margin-top: 90px;
        flex-direction: column-reverse;
    }

    .skillsImage {
        display: flex;
        justify-content: center;
    }

    .Tigran_img {
        height: 350px;
        width: 300px;
        margin: 39px 0px 0px 0px;
    }

    .whatIDo {
        margin: 0px;
        width: 375px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header {
        font-size: 27px;
        display: flex;
        justify-content: center;
    }

    .languages {
        justify-content: center;
    }

    .about_me {
        font-size: 17px;
        margin-bottom: 20px;
        width: 300px;
        text-align: center;
    }

    .mySkills {
        margin-top: 0px;
        width: 300px;
    }

    .mySkills span {
        font-size: 18px;
    }
}